<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Operations</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
<%- include("header.html")%>
<div class="card text-center">
  <div class="card-header">
    <h5>opertions to perform</h5>
  </div>
  <div class="card-body">
    <h5 class="card-title">Twitter Bot</h5>
    <p class="card-text">This is a Twitter Bot</p>
    <a href="http://localhost:3000/getrecenttweets" class="btn btn-primary">Get MyPAT.in Recent Tweets</a> 
    <a href="http://localhost:3000/follow" class="btn btn-primary">Follow myPAT.in</a> 
    <a href="http://localhost:3000/unfollow" class="btn btn-primary">Unfollow myPAT.in</a> 
    <a href="http://localhost:3000/followerstweets" class="btn btn-primary">tweets of followers of myPAT.in</a> 
    <a href="http://localhost:3000/" class="btn btn-primary">Home</a> 

  </div>
  <div class="card-footer text-muted">
    ----The End----
  </div>
</div>
</body>
